.App {
  text-align: center;
}







/*--------------fonts----------------*/

@font-face {
  font-family: 'Bebas-Book';
  src:url('./assets/fonts/BebasNeue\ Book.otf')
}

@font-face {
  font-family: 'Lato-Ragular';
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('./assets/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('./assets/fonts/Lato-Thin.ttf');
}

@font-face {
  font-family: 'BebasNeue-Ragular';
  src: url('./assets/fonts/BebasNeue-Regular.ttf');
}


@font-face {
  font-family: 'BebasNeue-Bold';
  src: url('./assets/fonts/BebasNeue\ Bold.otf');
}


/*------css-------*/

.header_sec{
  font-family: Bebas-Book;
  font-size: 3.5rem;
  color:#12314c;
  text-align: left;
  font-weight: 600;
}

.header_body_sec {
  text-align: left;
  font-size: 1.1rem;
  font-family: Lato-Light;
  color:#000000;
  font-weight: 500;
}


.secondary_header_sec {
  font-family: Bebas-Book;
  font-size: 2rem;
  color:#12314c;
  text-align: left;
  font-weight: 600;
}

.accordion_header_sec {
  font-family: Bebas-Book;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
}
.box_header_sec {
  font-family: BebasNeue-Bold;
  font-size: 1.3rem;
  color:#000000;
  margin-top: 10px;
  margin-bottom:10px;
}

.box_body_sec {
  font-family: Lato-Light;
  color:#000000;
  line-height: 1.25rem;
}

.button_text {
  font-family: Lato-Light;
}

.button_text:hover{
  cursor: pointer;
}
/* <------- media queries-------> */

@media (max-width: 900px) {
  /* Hide the image on screens <= md breakpoint */
  .logo-image {
    display: none;
  }
}
